[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qrcode = "*"
pillow = "*"
image = "*"
pyzbar = "*"
opencv-python-headless = "*"
streamlit = "*"
python-barcode = "*"

[dev-packages]

[requires]
python_version = "3.9"
